.articleThree {
  position: relative;
  text-align: center;
  overflow: hidden;
  padding-top: 2em;
}

.HowWeWork {
  transform: translateY(-40px);
  color: rgb(57, 66, 84);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Mulish", sans-serif;
  margin-top: 80px;
}
@media (min-width: 10px) and (max-width: 1400px) {
  .HowWeWork {
    font-size: calc(30px + 59.5 * (100vw - 300px) / 1280);
  }
}

.Bgrnd {
  width: 117vw;
  position: absolute;
  z-index: -1;
}
@media (min-width: 1050px) and (max-width: 1400px) {
  .Bgrnd {
    left: calc(2em + -164.9 * (100vw - 300px) / 1280);
  }
}
@media (min-width: 1050px) and (max-width: 1400px) {
  .Bgrnd {
    top: calc(15em + -127.5 * (100vw - 300px) / 1280);
  }
}

.BgrndMob {
  position: absolute;
  z-index: -1;
  display: none;
}
@media (min-width: 10px) and (max-width: 1400px) {
  .BgrndMob {
    width: calc(450px + 595 * (100vw - 300px) / 1280);
  }
}

.footer {
  z-index: 0;
  position: relative;
  margin-top: 50px;
  font-family: "Mulish", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 20px;
}

.IphoneInst {
  transform: translateX(90px);
}
@media (min-width: 10px) and (max-width: 1400px) {
  .IphoneInst {
    width: calc(300px + 340 * (100vw - 300px) / 1280);
  }
}

.ex {
  position: relative;
  flex-direction: column;
}

.btnText {
  font-weight: 900;
  color: rgb(27, 64, 91);
}
@media (min-width: 10px) and (max-width: 1400px) {
  .btnText {
    font-size: calc(17px + 22.1 * (100vw - 300px) / 1280);
  }
}

.BtnInst {
  font-family: "Mulish", sans-serif;
  margin-top: 10px;
  padding: 15px 20px;
  background: rgb(41, 51, 86);
  cursor: pointer !important;
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 14px;
  font-weight: 800;
}

.BtnWhatsApp {
  font-family: "Mulish", sans-serif;
  margin-top: 7px;
  padding: 10px 15px;
  background: rgb(29, 31, 38);
  cursor: pointer;
  border: none;
  border-radius: 10px;
  color: white;
}

.BackShape {
  width: 130%;
  position: absolute;
  z-index: -1;
}

@media screen and (min-width: 1400px) and (max-width: 7000px) {
  .IphoneInst {
    width: 500px;
  }
}
@media screen and (max-width: 1050px) {
  .Bgrnd {
    display: none;
  }
  .BgrndMob {
    position: absolute;
    z-index: -1;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
  }
}
@media screen and (max-width: 969px) {
  .BgrndMob {
    top: 44%;
  }
}
@media screen and (max-width: 669px) {
  .BgrndMob {
    top: 44%;
  }
  .ex {
    transform: translateX(60px);
  }
}
@media screen and (max-width: 669px) and (min-width: 10px) and (max-width: 1400px) {
  .btnText {
    font-size: calc(15px + 42.5 * (100vw - 300px) / 1280);
  }
}
@media screen and (max-width: 669px) and (min-width: 10px) and (max-width: 1400px) {
  .BtnInst {
    padding: calc(9px + 27.2 * (100vw - 300px) / 1280);
  }
}
@media screen and (max-width: 669px) and (min-width: 10px) and (max-width: 1400px) {
  .BtnInst {
    font-size: calc(9px + 13.6 * (100vw - 300px) / 1280);
  }
}
@media screen and (max-width: 471px) {
  .btnText {
    width: 147px;
  }
}
@media screen and (max-width: 390px) {
  .IphoneInst {
    transform: translateX(65px);
  }
}
@media screen and (max-width: 361px) {
  .BgrndMob {
    top: 45%;
  }
  .ex {
    transform: translateX(20px);
  }
  .IphoneInst {
    transform: translateX(4px);
  }
}
@media screen and (max-width: 303px) {
  .ex {
    transform: translateX(0);
  }
  .IphoneInst {
    transform: translateX(-20px);
  }
}
@media screen and (min-width: 1400px) {
  .Bgrnd {
    left: -7em;
    max-width: 1663px;
    top: 5em;
  }
  .HowWeWork {
    font-size: 58px;
  }
}/*# sourceMappingURL=PageThree.module.css.map */