.acticleTwo {
  background-color: rgb(29, 31, 38);
  overflow: hidden;
  position: relative;
}

.Topic {
  transform: translateY(71px);
}

.NurPrint {
  font-family: "Mulish", sans-serif;
  font-size: 55px;
  color: orange;
  transform: translateY(80px);
  text-align: center;
}
@media (min-width: 270px) {
  .NurPrint {
    font-size: calc(16px + 49.3 * (100vw - 300px) / 1280);
  }
}

.WhatWeDo {
  color: white;
  margin-top: 220px;
  overflow: hidden;
}

.TopicWhatWeDo {
  font-family: "Mulish", sans-serif;
  text-align: center;
  font-weight: bold;
  position: relative;
  z-index: 2;
}
@media (min-width: 270px) {
  .TopicWhatWeDo {
    font-size: calc(13px + 28.9 * (100vw - 300px) / 1280);
  }
}

.SectionOne {
  margin-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.ChapterOne {
  margin-left: 58px;
  margin-right: 90px;
  line-height: 1.7;
  z-index: 2;
}
.ChapterOne .TopicChapterOne {
  color: orange;
  font-family: "Mulish", sans-serif;
}
@media (min-width: 270px) {
  .ChapterOne .TopicChapterOne {
    font-size: calc(11px + 32.3 * (100vw - 300px) / 1280);
  }
}
.ChapterOne .DescChapterOne {
  margin-top: 15px;
  font-family: "Mulish", sans-serif;
}
@media (min-width: 270px) {
  .ChapterOne .DescChapterOne {
    font-size: calc(9px + 10.2 * (100vw - 300px) / 1280);
  }
}

.ChapterTwo {
  overflow: hidden;
  margin-right: 60px;
  margin-left: 60px;
  line-height: 1.7;
  z-index: 2;
}
.ChapterTwo .TopicChapterTwo {
  color: orange;
  font-family: "Mulish", sans-serif;
}
@media (min-width: 270px) {
  .ChapterTwo .TopicChapterTwo {
    font-size: calc(11px + 32.3 * (100vw - 300px) / 1280);
  }
}
.ChapterTwo .DescChapterTwo {
  font-size: 17px;
  margin-top: 15px;
  font-family: "Mulish", sans-serif;
}
@media (min-width: 270px) {
  .ChapterTwo .DescChapterTwo {
    font-size: calc(9px + 10.2 * (100vw - 300px) / 1280);
  }
}

.Lightning {
  z-index: 1;
  position: absolute;
  transform: translateY(300px);
}
@media (min-width: 270px) {
  .Lightning {
    width: calc(200px + 850 * (100vw - 300px) / 1280);
  }
}

.SectionTwo {
  display: flex;
  align-items: center;
  min-height: 600px;
  position: relative;
  z-index: 2;
}

.ChapterThree {
  margin-left: 58px;
  margin-right: 77px;
  line-height: 1.7;
  z-index: 2;
  margin-top: 30px;
}
.ChapterThree .TopicChapterThree {
  color: orange;
  font-family: "Mulish", sans-serif;
}
@media (min-width: 270px) {
  .ChapterThree .TopicChapterThree {
    font-size: calc(11px + 32.3 * (100vw - 300px) / 1280);
  }
}
.ChapterThree .DescChapterThree {
  margin-top: 15px;
  font-family: "Mulish", sans-serif;
}
@media (min-width: 270px) {
  .ChapterThree .DescChapterThree {
    font-size: calc(9px + 10.2 * (100vw - 300px) / 1280);
  }
}

.ChapterFour {
  margin-right: 60px;
  margin-left: 60px;
  line-height: 1.7;
  z-index: 2;
  margin-top: 30px;
}
.ChapterFour .TopicChapterFour {
  color: orange;
  font-family: "Mulish", sans-serif;
}
@media (min-width: 270px) {
  .ChapterFour .TopicChapterFour {
    font-size: calc(15px + 25.5 * (100vw - 300px) / 1280);
  }
}
.ChapterFour .DescChapterFour {
  font-size: 17px;
  margin-top: 15px;
  font-family: "Mulish", sans-serif;
}
@media (min-width: 270px) {
  .ChapterFour .DescChapterFour {
    font-size: calc(9px + 10.2 * (100vw - 300px) / 1280);
  }
}

.WhatWeDoFooter {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Mulish", sans-serif;
  color: white;
  font-size: 20px;
}

.AndMore {
  z-index: 2;
  position: relative;
}
@media (min-width: 270px) {
  .AndMore {
    font-size: calc(11px + 13.6 * (100vw - 300px) / 1280);
  }
}

.InstBtn {
  position: relative;
  z-index: 2;
  font-family: "Mulish", sans-serif;
  margin-top: 15px;
  padding: 10px 15px;
  background: white;
  cursor: pointer;
  border: none;
  border-radius: 43px;
  color: black;
  font-weight: bold;
}
@media (min-width: 270px) {
  .InstBtn {
    padding: calc(7px + 10.2 * (100vw - 300px) / 1280);
  }
}
@media (min-width: 270px) {
  .InstBtn {
    font-size: calc(7px + 13.6 * (100vw - 300px) / 1280);
  }
}

.end {
  width: 100%;
  display: block;
}

@media (max-width: 700px) {
  .SectionOne {
    flex-direction: column;
  }
  .SectionTwo {
    flex-direction: column;
    min-height: 425px;
  }
  .WhatWeDoFooter {
    margin-top: 50px;
  }
  .ChapterOne {
    margin-top: 50px;
    vertical-align: middle;
  }
  .ChapterTwo, .ChapterThree, .ChapterFour {
    margin-top: 50px;
  }
}
@media (max-width: 637px) {
  .Topic {
    transform: translateY(0px);
  }
  .WhatWeDo {
    margin-top: 130px;
  }
  .SectionOne {
    margin-top: 0;
  }
}
@media (max-width: 500px) {
  .ChapterOne, .ChapterTwo, .ChapterThree, .ChapterFour {
    margin-left: 31px;
    margin-right: 10px;
  }
}/*# sourceMappingURL=PageTwo.module.css.map */