$maxWidth: 1280;

@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $addMobSize: $addSize + $addSize * 0.7;

  @media (min-width: 10px) and (max-width: 1400px) {
    font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 300px) / #{$maxWidth}));
  }
}

@mixin adaptiv-padding($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $addMobSize: $addSize + $addSize * 0.7;

  @media (min-width: 10px) {
    padding: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 300px) / #{$maxWidth}));
  }
}

@mixin adaptiv-padding($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $addMobSize: $addSize + $addSize * 0.7;

  @media (min-width: 10px) {
    padding: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 300px) / #{$maxWidth}));
  }
}

.Background {
  width: 100%;
  position: absolute;
  z-index: -2;
  min-height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}

.MainText {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 750px;
  position: relative;
  overflow: hidden;
}

.nurPrint {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;

  .andmore {
    color: white;
    cursor: pointer;
    background-color: rgb(37, 37, 37);
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
    margin-top: 15px;
    margin-left: 1vw;
    border: none;
    border-radius: 30px;
    @include adaptiv-font(15, 11);
    @include adaptiv-padding(13, 10);
  }

  .nurPrintPodText {
    margin-left: 10px;
    font-size: 25px;
    color: white;
    @include adaptiv-font(20, 14);
  }

}

.nurPrintText {
  font-family: 'Mulish', sans-serif;
  font-weight: 950;
  @include adaptiv-font(90, 50);
}

.shapeOne {
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.shapeTwo {
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.shapeThree {
  z-index: -1;
  position: absolute;
  top: 1%;
  height: 615px;
  left: 35%;
}