$maxWidth: 1280;
@mixin adaptiv-font($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$addMobSize: $addSize + $addSize * 0.7;
  @media (min-width: 270px) {
		font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 300px) / #{$maxWidth}));
	}
}

@mixin adaptiv-padding($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$addMobSize: $addSize + $addSize * 0.7;
  @media (min-width: 270px) {
		padding: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 300px) / #{$maxWidth}));
	}
}

.Header {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  position: relative;
  overflow: hidden;
}

.PodHeader {
  font-family: 'Mulish', sans-serif;
  font-size: 22px;
  height: 100px;
}

.nurPrint {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  color: white;
  
  .andmore {
    color: white;
    background-color: rgb(37, 37, 37);
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 1vw;
    border: none;
    border-radius: 30px;
    @include adaptiv-font(17, 11);
    @include adaptiv-padding(13, 10);
  }

  .nurPrintPodText {
    margin-left: 10px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 25px;
    color: white;
    @include adaptiv-font(25, 14);
  }

}

.nurPrintText {
  @include adaptiv-font(100, 50);
}

.shapeOne{
  z-index: -1;
  position: absolute;
  top: 1%;
  height: 1099px;
  transform: translateX(200px);
}

.shapeTwo{
  z-index: -1;
  position: absolute;
  top: 1%;
  right: 56%;
  height: 715px;
}


// @media (max-width: 617px){
//   .nurPrintText{
//     font-size: 100px;
//   }
//   .nurPrintPodText{
//     font-size: 24px!important;
//   }
//   .andmore{
//     font-size: 16px!important;
//   }
// }

// @media (max-width: 563px){
//   .nurPrintText{
//     font-size: 90px;
//   }
//   .nurPrintPodText{
//     font-size: 22px!important;
//   }
//   .andmore{
//     font-size: 14px!important;
//   }
// }

// @media (max-width: 500px){
//   .nurPrintText{
//     font-size: 80px;
//   }
//   .nurPrintPodText{
//     font-size: 20px!important;
//   }
//   .andmore{
//     font-size: 14px!important;
//   }
// }

// @media (max-width: 447px){
//   .nurPrintText{
//     font-size: 70px;
//   }
//   .nurPrintPodText{
//     font-size: 18px!important;
//   }
//   .andmore{
//     font-size: 12px!important;
//   }
// }

// @media (max-width: 394px){
//   .nurPrintText{
//     font-size: 60px;
//   }
//   .nurPrintPodText{
//     font-size: 18px!important;
//   }
//   .andmore{
//     font-size: 12px!important;
//   }
// }

