$maxWidth: 1280;

@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $addMobSize: $addSize + $addSize * 0.7;

  @media (min-width: 270px) and (max-width: 1400px) {
    font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 300px) / #{$maxWidth}));
  }
}

@mixin adaptiv-padding($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $addMobSize: $addSize + $addSize * 0.7;

  @media (min-width: 270px) {
    padding: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 300px) / #{$maxWidth}));
  }
}

@mixin adaptiv-width($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $addMobSize: $addSize + $addSize * 0.7;

  @media (min-width: 270px)  and (max-width: 1400px) {
    width: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 300px) / #{$maxWidth}));
  }
}

.acticleTwo {
  overflow: hidden;
  position: relative;
  background-image: linear-gradient(0deg, rgb(57 66 84), rgb(15 21 46));
}

.Topic {
  transform: translateY(71px);
}

.NurPrint {
  font-family: 'Mulish', sans-serif;
  font-weight: 800;
  font-size: 55px;
  color: antiquewhite;
  transform: translateY(80px);
  text-align: center;
  @include adaptiv-font(32, 16);
}

.WhatWeDo {
  color: lightblue;
  mix-blend-mode: screen;
  margin-top: 220px;
  overflow: hidden;
}

.TopicWhatWeDo {
  font-family: 'Mulish', sans-serif;
  text-align: center;
  font-weight: bold;
  position: relative;
  color: antiquewhite;
  z-index: 2;
  @include adaptiv-font(25, 13);
}

.SectionOne {
  margin-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.ChapterOne {
  margin-left: 58px;
  margin-right: 90px;
  line-height: 1.7;
  z-index: 2;

  .TopicChapterOne {
    color: white;
    font-family: 'Mulish', sans-serif;
    @include adaptiv-font(23, 11);
  }

  .DescChapterOne {
    margin-top: 15px;
    font-family: 'Mulish', sans-serif;
    @include adaptiv-font(14, 9);
  }
}

.ChapterTwo {
  overflow: hidden;
  margin-right: 60px;
  margin-left: 60px;
  line-height: 1.7;
  z-index: 2;

  .TopicChapterTwo {
    color: white;
    font-family: 'Mulish', sans-serif;
    @include adaptiv-font(23, 11);
  }

  .DescChapterTwo {
    font-size: 17px;
    margin-top: 15px;
    font-family: 'Mulish', sans-serif;
    @include adaptiv-font(14, 9);
  }
}

.Lightning {
  z-index: -0;
  position: absolute;
  transform: translateY(400px);
  @include adaptiv-width(280, 150);
  left: 30%
}

.SectionTwo {
  display: flex;
  align-items: center;
  min-height: 600px;
  position: relative;
  z-index: 2;
}

.ChapterThree {
  margin-left: 58px;
  margin-right: 77px;
  line-height: 1.7;
  z-index: 2;
  margin-top: 30px;

  .TopicChapterThree {
    color: white;
    font-family: 'Mulish', sans-serif;
    @include adaptiv-font(23, 11);
  }

  .DescChapterThree {
    margin-top: 15px;
    font-family: 'Mulish', sans-serif;
    @include adaptiv-font(14, 9);
  }
}

.ChapterFour {
  margin-right: 60px;
  margin-left: 60px;
  line-height: 1.7;
  z-index: 2;
  margin-top: 30px;

  .TopicChapterFour {
    color: white;
    font-family: 'Mulish', sans-serif;
    @include adaptiv-font(23, 15);
  }

  .DescChapterFour {
    font-size: 17px;
    margin-top: 15px;
    font-family: 'Mulish', sans-serif;
    @include adaptiv-font(14, 9);
  }
}



.end {
  width: 100%;
  display: block;
}



@media(max-width: 700px) {
  .SectionOne {
    flex-direction: column;
  }

  .SectionTwo {
    flex-direction: column;
    min-height: 425px;
  }

  .WhatWeDoFooter {
    margin-top: 50px;
  }

  .ChapterOne {
    margin-top: 50px;
    vertical-align: middle;
  }

  .ChapterTwo, .ChapterThree, .ChapterFour {
    margin-top: 50px;
  }

  .Lightning{
    transform: translateY(600px);
  }

}

@media(max-width: 637px) {
  .Topic {
    transform: translateY(0px);
  }

  .WhatWeDo {
    margin-top: 130px;
  }

  .SectionOne {
    margin-top: 0;
  }
}

@media (max-width: 500px) {
  .ChapterOne, .ChapterTwo, .ChapterThree, .ChapterFour {
    margin-left: 31px;
    margin-right: 10px;
  }
}