.Header {
  height: 65px;
  position: absolute;
  overflow: hidden;
  width: 100%;
  max-width: 1400px;
  margin: 0px auto;
}


.AllNavigation {
  position: absolute;
  display: flex;
  z-index: 1;
  top: 10px;
  right: 0;
}

.burger {

  display: flex;
  align-items: center;
}

hr {
  border: none;
  height: 2px;
  background-color: rgb(255, 255, 255);
}


.logo {
  position: absolute;
  font-size: 18px;
  color: rgb(194, 215, 247);
  font-weight: 1000;
  font-family: 'Mulish';
  margin: 23px;
  cursor: pointer;
  z-index: 1;
}

.Navigation {
  color: #adadad;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  display: flex;
  font-size: 20px;
  transition: 0.4s;

  .NavOne,
  .NavTwo {
    transition: 0.4s;
    font-weight: 800;
  }

  .NavOne:hover {
    color: white;

  }

  .NavTwo:hover {
    color: white;

  }

  .AboutUs,
  .Uslugi,
  .Procces
   {
    display: none;
  }
}

.NavFour{
  display: none;
}

.Contacts {
  align-items: center;
}

.Inst {
  width: 27px;
  cursor: pointer;
  margin-right: 20px;
}

.Tg {
  width: 26px;
  margin-right: 30px;
  cursor: pointer;
}

.WhtsApp {
  width: 27px;
  margin-right: 20px;
  cursor: pointer;
}

.openHabmurger {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  color: rgb(194, 215, 247);
  visibility: hidden;
  font-size: 20px;
  margin-top: 0.7em;
}

@media (max-width: 686px) {
  .burger:focus {
    outline: none;
  }

  .AllNavigation {
    position: fixed;
  }

  .openHabmurger {
    visibility: visible;
    margin-right: 1em;
    z-index: 1;
  }

  .Navigation {
    margin-left: 2em;
    flex-direction: column;
    color: white;
    left: -100%;
    opacity: 0;
    transition: left 1s;
    position: absolute;
    top: 15%;
  }

  .NavOne,
  .NavTwo {
    margin-left: 10px;
  }

  .burger {
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100%;
    right: 0;
    height: 100vh;
    width: 100%;
    transition: left 0.3s;
    border-radius: 3px;
    background-image: linear-gradient(268deg, #152339, rgb(22 28 43));

    .Navigation {
      align-self: flex-start;
      font-weight: 1000;
      font-family: 'Mulish';
    }

    .Contacts {
      position: absolute;
      bottom: 10px;
      right: 0;
    }

  }

  .active {
    left: 0;
  }

  .activeNavigation {
    left: -10px;
    opacity: 1;
    top: 15%;
    font-size: 20px;


    .activeAboutUs,
    .activeUslugi,
    .activeProcces  {
      display: block;
      width: 30px;
    }
  }

  .logo {
    z-index: 2;
  }

  .activeLogo {
    position: fixed;
    overflow: visible;
    opacity: 1;
  }

  .activeContacts {
    position: fixed;
    bottom: 10px;
    right: 0;
  }

  .NavFour {
    display: block;
    bottom: -100%;
    color: white;
    opacity: 0.5;
    font-family: 'Mulish';
    transition: 0.9s;
  }

  .activeNavFour{
    bottom: 23px;
    left: 20px;
    cursor: pointer;
    position: fixed;
    font-size: 12px;
    margin-right: 30px;
  }
}

@media screen and (max-width: 315px) {
  .Contacts{
    display: flex;
    flex-direction: column;
  }
}