.Header {
  height: 65px;
  position: absolute;
  overflow: hidden;
  width: 100%;
  max-width: 1400px;
  margin: 0px auto;
}


.AllNavigation {
  position: absolute;
  display: flex;
  z-index: 1;
  top: 20px;
  right: 0;
}

.burger {
  display: flex;
}

.logo {
  position: absolute;
  font-size: 18px;
  color: rgb(194, 215, 247);
  font-weight: 1000;
  font-family: 'Mulish';
  margin: 23px;
  cursor: pointer;
  z-index: 1;
}

.Navigation {
  color: #adadad;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  display: flex;
  font-size: 20px;
  transition: 0.4s;

  .NavOne,
  .NavTwo {
    transition: 0.4s;
  }

  .NavOne:hover {
    color: white;

  }

  .NavTwo:hover {
    color: white;

  }
}

.Contacts {
  align-items: center;
}

.Inst {
  width: 27px;
  cursor: pointer;
  margin-right: 20px;
}

.Tg {
  width: 26px;
  margin-right: 30px;
  cursor: pointer;
}

.WhtsApp {
  width: 27px;
  margin-right: 20px;
  cursor: pointer;
}

.openHabmurger {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  color: rgb(194, 215, 247);
  visibility: hidden;
  font-size: 20px;
}

.NavFour {
  display: none;
}

@media (max-width: 630px) {
  .burger:focus {
    outline: none;
  }

  .logo {
    z-index: 2;
  }

  .AllNavigation {
    position: fixed;
  }

  .openHabmurger {
    visibility: visible;
    margin-right: 1em;
    z-index: 1;
  }

  .Navigation {
    margin-left: 2em;
    flex-direction: column;
    color: white;
    left: -100%;
    transition: left 1s;
    position: absolute;
    top: 25%;
  }

  .NavOne,
  .NavTwo,
  .NavFour {
    margin-top: 20px;
    font-weight: 900;
  }

  .burger {
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100%;
    right: 0;
    height: 100vh;
    width: 100%;
    transition: left 0.4s;
    border-radius: 3px;
    background-image: linear-gradient(315deg, #000000, #043c71);

    .Navigation {
      align-self: flex-start;
      font-weight: 1000;
      font-family: 'Mulish';
    }

    .Contacts {
      position: absolute;
      bottom: 10px;
      right: 0;
    }

  }

  .active {
    left: 0;
  }

  .activeNavigation {
    left: 10px;
    top: 25%;
  }

  .activeLogo {
    opacity: 1;
    position: fixed;
    transition: 1s;
  }

  // .activeLogo::before {
  //   opacity: 0;
  //   position: fixed;
  //   transition: 1s;
  // }

  // .activeLogo::after {
  //   opacity: 1;
  //   position: fixed;
  //   transition: 1s;
  // }

  .NavFour {
    display: block;
  }
}