$maxWidth: 1280;
@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $addMobSize: $addSize + $addSize * 0.7;

  @media (min-width: 270px) and (max-width: 1400px) {
    font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 300px) / #{$maxWidth}));
  }
}

@mixin adaptiv-width($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $addMobSize: $addSize + $addSize * 0.7;

  @media (min-width: 270px) and (max-width: 3000px) {
    width: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 300px) / #{$maxWidth}));
  }
}

.articleThree{
  position: relative;
  text-align: center;
  overflow: hidden;
  padding-top: 4em;
}

.shapeOne {
  width: 400px; 
  height: auto;
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
}

.shapeTwo{
  width: 400px; 
  height: auto;
  position: absolute;
  z-index: 0;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
  transform: rotate(-125deg);
}

.HowWeWork {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Mulish', sans-serif;
  font-size: 60px;
  margin-top: 50px;
  @include adaptiv-font(60, 30);
}

.footer {
  z-index: 0;
  position: relative;
  margin-top: 70px;
  font-family: 'Mulish', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 20px;
}


.IphoneInst{
  @include adaptiv-width(370, 200 );
}

.ex{
  flex-direction: column;
}

.btnText{
  @include adaptiv-font(28, 17)
}

.BtnInst {
  font-family: 'Mulish', sans-serif;
  margin-top: 10px;
  padding: 10px 15px;
  background: rgba(29, 31, 38);
  cursor: pointer!important;
  border: none;
  border-radius: 10px;
  color: white;
}

.BtnWhatsApp {
  font-family: 'Mulish', sans-serif;
  margin-top: 7px;
  padding: 10px 15px;
  background: rgba(29, 31, 38);
  cursor: pointer;
  border: none;
  border-radius: 10px;
  color: white;
}
