.background {
    background-image: linear-gradient(0deg, rgb(57 66 84), rgb(15 21 46));
    width: 100%;
    height: 100%;
}

.History {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Mulish';
}

.logo {
    position: absolute;
    font-size: 18px;
    color: rgb(194, 215, 247);
    font-weight: 1000;
    margin: 23px;
    cursor: pointer;
    z-index: 1;
    font-family: 'Mulish';
}

.Topic {
    font-size: 18px;
    color: rgb(194, 215, 247);
    font-weight: 800;
    margin-top: 90px;
    margin-bottom: 30px;
    z-index: 1;
}

.HistoryText {
    max-width: 600px;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 14px;
    margin-bottom: 4rem;

    .textTwo {
        margin-top: 2rem;
    }

    .textThree{
        margin-top: 2rem;
    }

    .textFour {
        margin-top: 2rem;
    }

    .textFive {
        margin-top: 2rem;
    }

    .textSix {
        margin-top: 2rem;
    }

    .textSeven {
        margin-top: 2rem;
        margin-bottom: 3rem;
    }
}


.GoHome {
    position: absolute;
    right: 20px;
    top: 27px;
    color: white;
    font-weight: 800;
    color: rgb(194, 215, 247);
    font-family: 'Mulish';
}